<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/Bioinformatics/Read"
            factory-class="au.edu.unimelb.plantcell.io.read.spectra.SpectraReaderNodeFactory"
            id="au.edu.unimelb.plantcell.io.read.spectra.SpectraReaderNodeFactory"/>
   </extension>
   
</plugin>
