<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/Bioinformatics/Web Services/Ensembl"
            factory-class="au.edu.unimelb.plantcell.ensembl.AddHomologueNodeFactory"
            id="au.edu.unimelb.plantcell.ensembl.AddHomologueNodeFactory"/>
   </extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/Bioinformatics/Web Services/Ensembl"
            factory-class="au.edu.unimelb.plantcell.ensembl.AddTranscriptNodeFactory"
            id="au.edu.unimelb.plantcell.ensembl.AddTranscriptNodeFactory" />
   </extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/Bioinformatics/Web Services/Ensembl"
            factory-class="au.edu.unimelb.plantcell.ensembl.AddProteinNodeFactory"
            id="au.edu.unimelb.plantcell.ensembl.AddProteinNodeFactory" />
   </extension>
</plugin>
