<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
   <extension point="org.knime.workbench.repository.nodes">
         
      <node category-path="/Bioinformatics/Mass Spectrometry/Proteomics" factory-class="au.edu.unimelb.plantcell.proteomics.inference.MinProteinListNodeFactory" id="au.edu.unimelb.plantcell.proteomics.inference.MinProteinListNodeFactory"/>
      <node category-path="/Bioinformatics/Mass Spectrometry/Proteomics" factory-class="au.edu.unimelb.plantcell.proteomics.spectra.quality.SpectraQualityAssessorNodeFactory" id="au.edu.unimelb.plantcell.proteomics.spectra.quality.SpectraQualityAssessorNodeFactory"/>
      <node category-path="/Bioinformatics/Mass Spectrometry/Proteomics" factory-class="au.edu.unimelb.plantcell.proteomics.phosphorylation.PhosphorylationScorerNodeFactory" id="au.edu.unimelb.plantcell.proteomics.phosphorylation.PhosphorylationScorerNodeFactory"/>
      <node category-path="/Bioinformatics/Mass Spectrometry/Proteomics" factory-class="au.edu.unimelb.plantcell.proteomics.peakextractor.SpectralPeakExtractorNodeFactory" id="au.edu.unimelb.plantcell.proteomics.peakextractor.SpectralPeakExtractorNodeFactory"/>
      <node category-path="/Bioinformatics/Mass Spectrometry/Proteomics" factory-class="au.edu.unimelb.plantcell.proteomics.spectra.clustering.SpectraCorrelationNodeFactory" id="au.edu.unimelb.plantcell.proteomics.spectra.clustering.SpectraCorrelationNodeFactory"/>
      <node category-path="/Bioinformatics/Mass Spectrometry/Proteomics" factory-class="au.edu.unimelb.plantcell.proteomics.spectra.filtering.SpectraFilteringNodeFactory" id="au.edu.unimelb.plantcell.proteomics.spectra.filtering.SpectraFilteringNodeFactory"/>
      <node category-path="/Bioinformatics/Mass Spectrometry/Proteomics" factory-class="au.edu.unimelb.plantcell.proteomics.itraq.ITraqAnalyzerNodeFactory" id="au.edu.unimelb.plantcell.proteomics.itraq.ITraqAnalyzerNodeFactory"/>
      
      <node category-path="/Bioinformatics/Read" factory-class="au.edu.unimelb.plantcell.io.convert.AnalystWiffConverterNodeFactory" id="au.edu.unimelb.plantcell.proteomics.io.convert.AnalystWiffConverterNodeFactory"/>
      
      <node category-path="/Bioinformatics/Read" factory-class="au.edu.unimelb.plantcell.io.convert.XCaliburRawConverterNodeFactory" id="au.edu.unimelb.plantcell.proteomics.io.convert.XCaliburRAWNodeFactory"/>
      		
      <node category-path="/Bioinformatics/Under Development/Deprecated" factory-class="au.edu.unimelb.plantcell.proteomics.proteinselector.RepresentativeProteinSelectorNodeFactory" id="au.edu.unimelb.plantcell.proteomics.proteinselector.RepresentativeProteinSelectorNodeFactory"/>
   
      <node category-path="/Bioinformatics/Under Development/Deprecated" factory-class="au.edu.unimelb.plantcell.io.read.pepxml.PepXMLReaderNodeFactory" id="au.edu.unimelb.plantcell.io.read.pepxml.PepXMLReaderNodeFactory"/>
   
      <node category-path="/Bioinformatics/Read" factory-class="au.edu.unimelb.plantcell.io.read.spectra.SpectraReaderNodeFactory" id="au.edu.unimelb.plantcell.io.read.spectra.SpectraReaderNodeFactory"/>
   
      <node category-path="/Bioinformatics/Write" factory-class="au.edu.unimelb.plantcell.io.write.spectra.SpectraWriterNodeFactory" id="au.edu.unimelb.plantcell.io.write.spectra.SpectraWriterNodeFactory"/>
  
      <node category-path="/Bioinformatics/Mass Spectrometry/Proteomics" factory-class="au.edu.unimelb.plantcell.proteomics.digestion.InsilicoDigestorNodeFactory" id="au.edu.unimelb.plantcell.proteomics.digestion.InsilicoDigestorNodeFactory"/>
   
      <node category-path="/Bioinformatics/Under Development/" factory-class="au.edu.unimelb.plantcell.proteomics.fragmentation.PeptideFragmentationNodeFactory" id="au.edu.unimelb.plantcell.proteomics.fragmentation.PeptideFragmentationNodeFactory"/>
   
      <node category-path="/Bioinformatics/Mass Spectrometry/Proteomics" factory-class="au.edu.unimelb.plantcell.proteomics.gravy.GravyScorerNodeFactory" id="au.edu.unimelb.plantcell.proteomics.gravy.GravyScorerNodeFactory"/>
  
      <node category-path="/Bioinformatics/Read" factory-class="au.edu.unimelb.plantcell.proteomics.ppgroupxml.GroupXMLReaderNodeFactory" id="au.edu.unimelb.plantcell.proteomics.ppgroupxml.GroupXMLReaderNodeFactory"/>
   
   	  <node category-path="/Bioinformatics/Read" factory-class="au.edu.unimelb.plantcell.io.read.mascot.MascotReaderNodeFactory" id="au.edu.unimelb.plantcell.io.read.mascot.MascotReaderNodeFactory"/>
   
   	  <node category-path="/Bioinformatics/Views" factory-class="au.edu.unimelb.plantcell.views.ms.MassSpecSurfaceNodeFactory" id="au.edu.unimelb.plantcell.views.ms.MassSpecSurfaceNodeFactory"/>
   
      <node category-path="/Bioinformatics/Views" factory-class="au.edu.unimelb.plantcell.views.surface.multi.MultiSurfaceNodeFactory" id="au.edu.unimelb.plantcell.views.surface.multi.MultiSurfaceNodeFactory"/>
   
</extension>
   	
</plugin>
