<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/Bioinformatics/Statistics"
            factory-class="au.edu.unimelb.plantcell.algorithms.StringFinder.FindGlobalNodeFactory"
            id="au.edu.unimelb.plantcell.algorithms.StringFinder.FindGlobalNodeFactory"/>
   </extension>
   
     <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/Bioinformatics/Statistics"
            factory-class="au.edu.unimelb.plantcell.algorithms.StringFinder.FindLocalNodeFactory"
            id="au.edu.unimelb.plantcell.algorithms.StringFinder.FindLocalNodeFactory"/>
   </extension>
</plugin>
